/* General Styles */
body {
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8d3ff;
  color: black;
}

header {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 10px;
}

h1, p, label {
  color: black;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.1em;
}

/* Button Style */
.cta-button, .back-button {
  background-color: black;
  color: #e8d3ff;
  padding: 12px 24px;
  font-size: 1em;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 20px;
  display: inline-block;
  font-family: 'Red Hat Display', sans-serif;
}

.cta-button:hover, .back-button:hover {
  background-color: #ac9bbf;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

label, input, textarea, button {
  font-family: 'Red Hat Display', sans-serif;
}

label {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1em;
}

input, textarea {
  padding: 14px;
  font-size: 1.2em; /* Increased font size */
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 8px;
  width: 100%; /* Make the form fields fill the page width */
  box-sizing: border-box;
}

/* Submit Button */
button {
  background-color: black;
  color: #e8d3ff;
  padding: 15px;
  border: none;
  border-radius: 6px;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ac9bbf;
}

/* Responsive Design */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8em;
  }

  .cta-button, button, .back-button {
    font-size: 1em;
  }

  input, textarea {
    font-size: 1.1em; /* Maintain the increased font size */
    width: 100%; /* Make the form fields fill the page width */
  }
}
